*
{
 	font-family: "Open Sans", sans-serif; 
}

body
{
	background-image:url(../img/cover.png);
	background-repeat:repeat;
}

.header
{
	padding-top:20px;
}

.content
{
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px #888;
	box-shadow: 0 0 5px 5px #888;
	margin-top:20px;
}

.place_img
{
	padding-right:15px;
	padding-top:10px;
	float:right;
	display:inline-block;
}

.locations
{
	display:inline-block;
	background:white;
	border:2px solid #5E5E5E;
}

.details
{
	border:2px solid #5E5E5E;
	margin-left:0px !important;
	background-color:white;
	border-left-width:0px;
}

.details_contents
{
	margin-left:10px;
}

.title
{
	font-size:30px;
}

.num
{
	text-align:center;
	display:inline-block;
	vertical-align:middle;
	width:10%;
	height:100%;
	font-size:50px;
}

.place
{
	padding-top:15px;
	padding-bottom:15px;
	color:black;
}

.place:hover
{
	background-color:#D1D1D1;
}

.place:active
{
	background-color:#C7C7C7;
}

.info
{
	margin-left:10px;
}

hr
{
	margin-top:0px;
	margin-bottom:0px;
}
