@import "style";
$silver: #bdc3c7;

.headerbar {
	padding:20px;
}

.locationbar {
	background-color:$silver;
	padding:40px;
}

.border input {
	background-color:gray;
	border: 10px solid black;
	height:30px;
	margin: 0px 15px 0px 0px;
	border-radius:3px;
	color:white;
}

.border input:focus {
	box-shadow:none !important;
	border: 10px solid black !important;
}

.choice {
	background-color:$silver;
	margin:30px 0px 30px 0px;
	border-radius:5px 5px 0px 0px;
	color:white;
	padding:0px 0px 10px 0px;
	p {
		background-color:gray;
		width:100%;

	}
}

.choice:hover {
	opacity:0.6;
}

.footer {
	background-color:gray;
	padding:20px;
}