p, h1, h2 {
  font-family: "Open Sans", sans-serif; }

.header {
  padding-top: 30px;
  background: url("../img/background.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 708px; }
  .header p {
    color: white; }

.tagline {
  margin-top: 220px; }
  .tagline p {
    font-size: 42px;
    font-weight: 600;
    color: #bdc3c7;
    line-height: 55px;
    padding: 15px 15px 15px 40px;
    background-color: purple;
    border-radius: 8px; }

::-webkit-input-placeholder {
  color: white !important;
  opacity: 0.4; }

.location {
  background-color: transparent !important;
  font-size: 42px !important;
  border: 0px;
  color: white;
  border-bottom: 2px dotted !important;
  font-weight: 600;
  width: 175px;
  line-height: 50px;
  margin-top: -10px; }

.location:focus {
  outline: none;
  box-shadow: none !important;
  color: white;
  border-bottom: 2px dotted !important; }

.video {
  margin-top: 150px; }

.go {
  background-color: transparent;
  color: #bdc3c7;
  border-radius: 6px;
  padding: 10px 30px 10px 30px;
  border: 2px solid #bdc3c7; }

.go:hover {
  color: white;
  border: 2px solid white; }

.search {
  padding: 33px;
  background-color: purple;
  border: 0px;
  border-radius: 8px;
  color: white;
  margin-left: -42px;
  font-size: 42px;
  font-weight: 600; }

.learn {
  margin-left: 15px;
  top: 80px;
  position: relative; }
  .learn p {
    color: black;
    background-color: white;
    border-radius: 6px;
    padding: 10px 50px 20px 50px;
    width: 95px;
    overflow: hidden; }
